@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

code, .wallet-address {
  font-family: 'JetBrains Mono', monospace;
}

.glow {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6),
               0 0 10px rgba(255, 255, 255, 0.3);
}

